<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="x-apple-disable-message-reformatting" />
	<title></title>

	<style>
		table,
		td,
		div,
		h1,
		p {
			font-family: Arial, sans-serif;
		}

		@media screen and (max-width: 530px) {
			.unsub {
				display: block;
				padding: 8px;
				margin-top: 14px;
				border-radius: 6px;

				text-decoration: none !important;
				font-weight: bold;
			}
			.col-lge {
				max-width: 100% !important;
			}
		}

		@media screen and (min-width: 531px) {
			.col-sml {
				max-width: 27% !important;
			}
			.col-lge {
				max-width: 73% !important;
			}
		}
       .mainBody
       {
            margin: 0;
            padding: 0;
            word-spacing: normal;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
            Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            background-color: #696969;
       } 
       .article
       {
        text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
       }
       .table1
       {
        width: 100%; 
        border: none; 
        border-spacing: 0
       }
       .td1
       {
        padding: 10px
       }
       .table2
       {
                 width: 100%;
                max-width: 800px;
                border: none;
                border-spacing: 0;
                text-align: left;
                background-color: #f0f0f5;
                font-family: Arial, sans-serif;
                font-size: 16px;
                line-height: 22px;
                color: #363636;
                background-image: url('https://ascendnow-api.pacewisdom.in/assets/WhiteTopBG.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
       }
       .td2
       {
                padding: 64px 30px 11px 30px;
                    font-size: 0;
                    border-bottom: 1px solid #f0f0f5;
                    border-color: rgba(201, 201, 207, 0.35);
       }
       img
       {
                     text-align: center;
                      padding-left: 150px;
                      width: 250px;
                      height: 40%;
                      margin-top: 20px;
                      
       }
       h1{
                 font-size: 16px;
                      text-align: center;
                      margin-top: -22px;
       }
       #div1
       {
        display: inline-block;
                      width: 100%;
                      max-width: 395px;
                      vertical-align: top;
                      padding-bottom: 20px;
                      font-family: Arial, sans-serif;
                      font-size: 16px;
                      line-height: 22px;
                      color: #363636;
       }

       .h3_a{
        color: rgb(27, 27, 126)
       }
       .P1
       {
        margin-top: 0; margin-bottom: 12px
       }
       .h3_b
       {
        color: rgb(37, 37, 37)
       }
       .P2
       {
        margin-top: 0; 
        margin-bottom: 18px
       }
       #div2
       {
                                     display: inline-block;
                                      width: 100%;
                                      max-width: 145px;
                                      vertical-align: top;
                                      text-align: left;
                                      font-family: Arial, sans-serif;
                                      font-size: 14px;
                                      color: #363636;
                                      margin-left: 380px;
                                      margin-top: -340px;

       }
       .P3
       {
                     border-radius: 25px;
                        background: #112a7f;
                        padding: 10px;
                        padding-top: 35px;
                        width: 115px;
                        height: 80px;
                        text-align: center;
       }
       .span1
       {
        color: white; font-size: 50px 
       }
       .span2
       {
        color: rgb(109, 99, 151); font-size: 13px
       }
       .table3
       {
             background-image:url('https://ascendnow-api.pacewisdom.in/assets/BlueBottomBG.png');
                          background-size: 100% 100%;
                          max-width: 800px;
                          width: 100%;
       }
       .tr1
       {
        text-align: left
       }
       .td3
       {
        padding-bottom: 50px
       }
       .hr1
       {
                                     height: 2px;
                                      border-width: 0;
                                      width: 100px;
        
                                      text-align: left;
                                      margin: 0px;
                                      color: gray;
                                      background-color: rgb(255, 255, 255);
       }
       .tr2
       {
        font-size: 75px;
         text-align: left
       }
       .span3
       {
                  margin-left: 73px;
                                      border-left: 3px solid rgb(255, 255, 255);
                                      height: 5px;
       }
       .tr3
       {
        font-size: 15px; 
        border-spacing: 0%
       }
       .td4
       {
        text-align: left
       }
       .tr4
       {
        text-align: left
       }
       .table4
       {
        height: 84px;

max-width: 800px;
width: 100%;
color: #f0f0f5;
padding-left: 20px;
       }
       .table5
       {
        height: 84px;

max-width: 800px;

color: #f0f0f5;
padding-right: 0px;
       }
       .P4
       {
    
                              font-size: 16px;
                              text-align: justify;
                              margin-right: 20px;
                              margin-left: 20px;
                            
       }
.table6
{
    height: 84px;

max-width: 800px;
width: 100%;
color: #f0f0f5;
padding-left: 20px;
}

	</style>
</head>
<body class="mainBody">
    <div class="article" aria-roledescription="email" lang="en" role="article">
        <table class="table1" role="presentation">
            <tr>
                <td class="td1">
                    
                    <table role="presentation" class="table2">

                        <tr>
                            <td class="td2">
                                <img alt="Logo" src="https://ascendnow-api.pacewisdom.in/assets/ascendnow.png">
                                    <h1>Post Update on 08/18 Lessons</h1>
                                    <div id="div1" class="col-lge">
                                        <h3 class="h3_a">
                                            Student Name :  <%=studentPerformance.student.name %>
                                          </h3>
                                          <p class="P1" >
                                            Subject : <%=studentPerformance.topic.name %> <br />
                                            Teacher : <%=studentPerformance.teacher.name %>  <br />
                                            Topic Difficulty :  <%=studentPerformance.topic.topic_difficulty %> <br />
                                            Date of class :  <%=studentPerformance.date %> <br />
                                          </p>
                                          <h3 class="h3_b">What was covered ?</h3>
                                          <p class="P2">
                                            * Idea Generation <br />
                                            * What makes a good problem solver<br />
                                            * How to test your problems<br />
                                            * Observation & analysis <br />
                                            * All the above<br />
                                          </p>
                                    </div>
                                    <div class="col-sml" id="div2">
                                          <p class="P3">
                                            <span class="span1"><%=studentPerformance.TotalPoints %></span
                                                ><br />
                                                <span class="span2">total points</span>
                                              </p>
                                            </div>
                                          </p>  
                                    </div>

                            </td>
                        </tr>
                        <table class="table3">
                            <tr class="tr1">
                                <td class="td3">
                                    <table class="table4">
                                        <tr>
                                            <td>
                                                <p>Student Performance out of 10</p>
                                                <hr class="hr1"/>
                                            </td>
                                        </tr>
                                      
                                 
                                <tr class="tr2">
                                    <td>
                                      <%=studentPerformance.studentPerformance.engagementInClass %>
                                        <span class="span3"
                                      ></span>
                                    </td>
                                    <td>
                                      <%=studentPerformance.studentPerformance.understanding %>
                                        <span
                                        class="span3"
                                        ></span>
                                      </td>
                                      <td><%=studentPerformance.studentPerformance.focus %></td>
                                </tr>
                                <tr class="tr3">
                                    <td class="td4">Engagement in class</td>
                                    <td>Understanding</td>
                                    <td>Focus</td>
                                  </tr>
                                  <tr class="tr4">
                                    <td style="padding-bottom: 10px; padding-top: 30px">
                                        <p style="font-weight: bolder; font-size: 20px;">Teacher Comment</p>
                                        <hr
                                        style="
                                          height: 2px;
                                          border-width: 0;
                                          width: 100px;
            
                                          text-align: left;
                                          margin: 0px;
                                          color: gray;
                                          background-color: rgb(255, 255, 255);
                                        "
                                      />
                                    </td>
                                </tr>
                                    </table>
                                    <table class="table5">
                                        <tr>
                                            <td>
                                                <p class="P4">
                                                  <%=studentPerformance.comment %>
                                                </p>
                                                <hr
                                                style="
                                                  text-align: left;
                                                  margin-right: 20px;
                                                  margin-left: 20px;
                                                  background-color: rgb(255, 255, 255);
                                                  margin-top: 50px;
                                                  margin-bottom: -10px;
                                                  height: 0px;
                                                "
                                              />
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="table6">
                                            <tr>
                                                <td>
                                                    <p style="margin-left: 10px; font-size: 12px">
                                                        Email : pavan.sampath@ascendnow.info
                                                      </p>
                                                </td>
                                                <td>
                                                    <p
                                                    style="
                                                      font-size: 12px;
                                                      text-align: right;
                                                      margin-right: 20px;
                                                    "
                                                  >
                                                    Call : +44 123456789
                                                  </p>
                                                </td>
                                            </tr>
                                    </table>
                                   
                              
                    </table>
                        <table>
                            
                        </table>
                </td>
            </tr>

        </table>

    </div>

</body>


</html>